.app-back{
    
}

#app-cover{
    width: 100%;
    height: 500px;
    background-image: url(./cover-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#app-intro{
    width: 100%;
    height: 500px
}