#side-panel{
    display: flex;
    flex-direction: column;
    width:280px;
    background-color : rgba(68, 79, 90);
    font-size: 5px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin:12px;
    margin-left: 0px;
}
