.reg-back{
    background-image: url(../Assets/body-back-reg.jpg);
    background-size: cover;
    background-position: center;
}
#register,#login{
    display: flex;
    flex-direction: column;
    align-items:center;

    width: 100%;
    height: auto;
}

    .form-cont{
        display: flex;
        flex-direction: column;

        position: absolute;
        top:100px;
        right: 30px;
        
        width: 350px;
        height: auto;
        text-align: center;

        background-color: rgba(255, 255, 255, 0.623);
        border-radius: 20px
    }

        .form-header{
            align-self: center;
            width: fit-content;

            padding: 15px;
            margin-bottom: 15px;

            font-size: 30px;
            color: rgb(121, 120, 120);
            border-bottom: 2px solid rgb(255, 139, 139);
        }

        .field{
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            width:100%;
        }

            .name{
                margin:10px;
                font-size: 17px;
                font-weight: lighter;
                color: rgb(121, 120, 120);
            }
            input.form{
                outline:none;
                border:none;
                height:20px;
                width:60%;

                box-sizing: content-box;
                padding:7px;
                padding-left: 20px;
                padding-right : 20px;

                font-size:15px;
               
                color: rgba(2, 80, 80, 0.945);
                
                border-radius: 5px;
               
                background-color:transparent;
                
                -webkit-box-shadow: 0px 0px 20px -1px (0, 0, 0, 0.178);
                -moz-box-shadow: 0px 0px 20px -1px (0, 0, 0, 0.178);
                box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.178);
            }
        
        #btn-register,#btn-login{
            align-self: center;

            margin-bottom: 5px;
            padding: 10px;

            height: auto;
            width:fit-content;
            
            border-bottom: 2px solid rgb(255, 139, 139);
            border-radius: 0px;
            
            background-color: transparent;
            font-size:15px;
            font-weight: lighter;
            color:rgb(121, 120, 120) ;
        }
        p#suggestion{
            color:rgb(121, 120, 120);
            margin-bottom: 5px;
        }
        .authLink#login,#register{
            color:rgb(255, 139, 139);
            display: inline;
        }
        .error-prompt#register{
            padding: 10px;
            height: auto;
            font-size: 15px;
            background-color: rgba(255, 139, 139, 0.13);
            color:red
        }
     