#message-panel{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 770px;
    background-color: rgba(255, 255, 255, 0.808);
    margin:12px;
    margin-left:0;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    color:rgb(68, 68, 68)
}

#message-form{
    background-color: transparent;
    margin-left: -50%;
    border:none;
    box-shadow: none;
    bottom: 0px;
    left:50%;
    width: 100%;
    border-radius: 20px;
}

.message_self{
    padding: 3px 0 3px 0;
    padding-left: 20px;
    border-left: 3px solid rgba(255,153,153);
    background-color: rgba(92, 91, 91, 0.089)
}

.message-image{
    padding: 1em;
    max-height: 400px;
}
