.app-body{
    background-image: url(./app-back.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed
}
#app {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%
}