.app-body{
    background-image: url(./app-back2.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed
    /* background-color: whitesmoke */
}
#app {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.panels{
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
}