#user-panel-channels{
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color:rgb(180, 180, 180);
    
}
#add{
    margin-left: auto;
}