#user-panel-channels-header {
    display: flex;

    padding: 30px 0 0 20px;
    font-weight: normal;
    font-size: 16px;
    color: white
}

.user-panel-channels-item:hover {
    cursor: pointer;
}

.icon#add:hover {
    cursor: pointer;
}

.icon#close:hover {
    cursor: pointer;
}
