#user-panel-channels{
    display: flex;

    margin-left:20px;
    margin-top: 30px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color:white
    
}

.user-panel-channels-list-item{
    border-bottom: 1px solid rgba(255,153,153,0.8)
}

.user-panel-channels-item:hover{
    cursor: pointer;
    color: white
}
#user-panel-channels
.icon#add{
    margin-left: auto;
    margin-right: 15px;
}
.icon#add:hover{
    cursor: pointer;
}
.icon#close:hover{
    cursor: pointer;
}

