#nav{
    position: absolute;;
    top:0px;
    width:100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.navbtn{
    font-size:20px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px;
    padding-right: 35px;
    
}

.links{
    color:rgb(255, 139, 139);
}

.links:hover{
    color:rgb(243, 184, 184)
}
